<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <% unless params[:term] %>          
        <h3>Últimas perguntas cadastradas...</h3>        
      <% else %>          
        <h3><%= "Resultados para \"#{params[:term]}\"..."%></h3>        
      <% end %>
    </div>
  </div>
</main>

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path, local: true do |form|%>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= question.description %></h3> 
      </div>
      <div class="panel-body">
        <ul>
          <% question.answers.each do |answer| %>
            <li style="list-style:none;">              
              <div class="form-check">                              
                <%= radio_button_tag 'answer', answer.id, class:"form-check-input" %>
                <%= form.label "answer_#{answer.id}", answer.description, class:"form-check-label" %>          
              </div>            
            </li>
          <% end %>
          <li style="list-style:none;">             
            <%= form.submit "Responder", class:"btn btn-success" %>          
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<div class="d-flex justify-content-center">
  <%= paginate @questions %>
</div>